<nav class="navbar">
  <div class="navbar-left">
    <h1 class="navbar-title">Inmobiliaria Areandina</h1>
  </div>
  <div class="navbar-right">
    <button class="logout-button" (click)="singOut()">Salir</button>
  </div>  
</nav>
<div class="content">
  <div class="search-filters">
    <input type="text" class="search-input" placeholder="Buscar...">
    <mat-select class="filter-select" placeholder="Filtro 1">
      <mat-option value="opcion1">Opción 1</mat-option>
      <mat-option value="opcion2">Opción 2</mat-option>
      <mat-option value="opcion3">Opción 3</mat-option>
    </mat-select>
    <mat-select class="filter-select" placeholder="Filtro 2">
      <mat-option value="opcion1">Opción 1</mat-option>
      <mat-option value="opcion2">Opción 2</mat-option>
      <mat-option value="opcion3">Opción 3</mat-option>
    </mat-select>
    <mat-select class="filter-select" placeholder="Filtro 3">
      <mat-option value="opcion1">Opción 1</mat-option>
      <mat-option value="opcion2">Opción 2</mat-option>
      <mat-option value="opcion3">Opción 3</mat-option>
    </mat-select>
  </div>
  <mat-divider></mat-divider>
  
</div>