<div class="background">
  <div class="shape shape1"></div>
  <div class="shape shape2"></div>
  <div class="shape shape3"></div>
</div>
<div class="content">
  <h1>Inmobiliaria Areandina</h1>
  <mat-card class="login-container">
    <mat-card-header>
      <mat-card-title class="title">Inmobiliaria Areandina</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="formulario">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput type="text"formControlName="usuario" placeholder="Ingrese su usuario">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="contrasena" placeholder="Ingrese su contraseña">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" (click)="redirect()">Iniciar sesión</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<footer>
  <div class="container">
    <p>Ingenieria de software II eje IV | Kevin Arias.</p>
  </div>
</footer>
